<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget">
                <h5>PAN Statement</h5>
                <!--  <p class="text-center">DMT Statement</p> -->
                <form (submit)="filter()" [formGroup]="form">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Select Date</label>
                            <input type="text" placeholder="Select Date" class="form-control" bsDaterangepicker
                                [maxDate]="maxDate" formControlName="selectdate" [bsConfig]="bsCustConfg"
                                #rangePicker="bsDaterangepicker" (onShown)="onDateRangePickerShow()">
                        </div>
                        <!-- <div class="col-md-3">
                            <div class="form-group">
                                <label>Start Date: <span class="alert-error">*</span></label>
                                <input class="form-control" name="startdate" id="startdate" placeholder="yyyy-mm-dd" #dp="bsDatepicker" bsDatepicker [(ngModel)]="search.startdate" autocomplete="off">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>End Date : <span class="alert-error">*</span></label>
                                <input class="form-control" name="enddate" id="enddate" placeholder="yyyy-mm-dd" #dp="bsDatepicker" bsDatepicker [maxDate]="maxDate" [(ngModel)]="search.enddate" autocomplete="off">

                            </div>
                        </div> -->
                        <div class="col-md-3">
                            <div class="form-group">
                                <br>
                                <button class="btn btn-primary mt-2 btn-lg" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <button (click)="download($event)" *ngIf="downloadexl" class="btn btn-danger mb-2 mr-2"
                        style="float: right;">Export</button>
                </div>
                <app-data-table-tools [columns]="columns" [url]="url" (btnexl)="GetChildData($event)">
                </app-data-table-tools>
            </div>
        </div>
    </div>
</div>