<blockquote class="blockquote mt-4">
    <h3 class="aeps-title">Company Bank</h3>
    <form [formGroup]="form" class="mt-3" (submit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Bank Name : <span class="alert-error">*</span></label>
                <input type="text" formControlName="bankName" [ngClass]="{ 'is-invalid': f.bankName.touched && f.bankName.invalid }" name="bankName" class="form-control" placeholder="Enter a bank">
                <div *ngIf="f.bankName.touched && f.bankName.invalid" class="alert-error">
                    <div *ngIf="f.bankName.errors.required"><small><b>Bank Name is required.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Account Number : <span class="alert-error">*</span></label>
                <input type="text" formControlName="accno" [ngClass]="{ 'is-invalid': f.accno.touched && f.accno.invalid }" name="accno" class="form-control" placeholder="Enter Bank Account Number">
                <div *ngIf="f.accno.touched && f.accno.invalid" class="alert-error">
                    <div *ngIf="f.accno.errors.required"><small><b>Account Number is required.</b></small></div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">IFSC Code : <span class="alert-error">*</span></label>
                <input type="text" formControlName="ifsc" [ngClass]="{ 'is-invalid': f.ifsc.touched && f.ifsc.invalid }" name="ifsc" class="form-control" placeholder="Enter IFSC Code">
                <div *ngIf="f.ifsc.touched && f.ifsc.invalid" class="alert-error">
                    <div *ngIf="f.ifsc.errors.required"><small><b>IFSC Code is required.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Branch Name : <span class="alert-error">*</span></label>
                <input type="text" formControlName="branch" [ngClass]="{ 'is-invalid': f.branch.touched && f.branch.invalid }" name="branch" class="form-control" placeholder="Enter Branch Name">
                <div *ngIf="f.branch.touched && f.branch.invalid" class="alert-error">
                    <div *ngIf="f.branch.errors.required"><small><b>Branch Name is required.</b></small></div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Balance : <span class="alert-error">*</span></label>
                <input type="text" formControlName="balance" [ngClass]="{ 'is-invalid': f.balance.touched && f.balance.invalid }" name="balance" class="form-control" placeholder="Enter opening balance">
                <div *ngIf="f.balance.touched && f.balance.invalid" class="alert-error">
                    <div *ngIf="f.balance.errors.required"><small><b>Balance no is required.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6 pt-3 pl-3">
                <label for="inputAddress">Status : <span class="alert-error">*</span></label><br>
                <label class="new-control new-radio new-radio-text radio-success">
                    <input  formControlName="status"  type="radio" class="new-control-input" name="status" value="1">
                    <span class="new-control-indicator"></span><span class="new-radio-content">Activate</span>
                  </label>
                <label class="new-control new-radio new-radio-text radio-danger">
                    <input formControlName="status"  type="radio" class="new-control-input" name="status" value="0">
                    <span class="new-control-indicator"></span><span class="new-radio-content">Deactivate                                                </span>
                  </label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6 pt-3 pl-3">
                <label for="inputAddress">Slip</label><br>
                <label class="new-control new-radio new-radio-text radio-success">
                    <input  formControlName="is_slip"  type="radio" class="new-control-input" name="is_slip" value="1">
                    <span class="new-control-indicator"></span><span class="new-radio-content">Yes</span>
                  </label>
                <label class="new-control new-radio new-radio-text radio-danger">
                    <input formControlName="is_slip" type="radio" class="new-control-input" name="is_slip" value="0">
                    <span class="new-control-indicator"></span><span class="new-radio-content">No                                                </span>
                  </label>
            </div>
            <div class="form-group col-md-6 pt-3 pl-3">
                <label for="inputAddress">Transfer Allowed</label><br>
                <label class="new-control new-radio new-radio-text radio-success">
                    <input  formControlName="is_transfer_allowed" type="radio" class="new-control-input" name="is_transfer_allowed" value="1">
                    <span class="new-control-indicator"></span><span class="new-radio-content">Yes</span>
                  </label>
                <label class="new-control new-radio new-radio-text radio-danger">
                    <input formControlName="is_transfer_allowed" type="radio" class="new-control-input" name="is_transfer_allowed" value="0">
                    <span class="new-control-indicator"></span><span class="new-radio-content">No                                                </span>
                  </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">Submit</button>
    </form>
</blockquote>