<div class="container-fluid">
    <div class="row layout-top-spacing">
      <div id="basic" class="col-lg-12 layout-spacing">
        <div class="widget-content widget-content-area">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="dmt-list">DMT</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="aeps-list" >AEPS</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab"  aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="recharge-list" >RECHARGE</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="matm-list" >M-ATM</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="payout-list" >PAYOUT</a>
                <!-- <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-payment-gateway" >PAYMENT GATEWAY</a> -->
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-bbps" >BBPS</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-aadharpay" >AADHAR PAY</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-lic" >LIC</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-ministatement" >MINI STATEMENT</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-paytm" >PAYTM WAllET</a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-mobikwik" >MOBIKWIK WAllET</a>
                <!-- <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-fastag" >FASTAG </a> -->
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-icici-cw" >ICICI-CD </a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-cc-bill" >CC-BILL </a>
                <a class="nav-item nav-link " data-toggle="tab" role="tab" aria-controls="nav-contact"
                aria-selected="false" routerLinkActive="active-link" routerLink="list-pan" >PAN </a>
              </div>
          </nav>
  
          <hr>
          <router-outlet></router-outlet>
  
        </div>
      </div>
    </div>
  </div>