<!--  BEGIN CONTENT AREA  -->
<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="form-form">
                <div class="form-form-wrap">
                    <div class="form-container">
                        <div class="form-content">
                            <h1 class="">{{message}}</h1>
                            <form class="text-left">
                                <div class="form">
                                    <div id="username-field" class="field-wrapper input">
                                        <label class="label_">Mobile No. :</label><span>{{mobile}}</span>
                                    </div>
                                    <div id="username-field" class="field-wrapper input">
                                        <label class="label_">Bank RRN No. :</label><span>{{bankrrn}}</span>
                                    </div>
                                    <div id="username-field" class="field-wrapper input">
                                        <label class="label_">Amount :</label><span>{{amount}}</span>
                                    </div>
                                    <div id="username-field" class="field-wrapper input">
                                        <label class="label_">Acknowledge No :</label><span>{{ackno}}</span>
                                    </div>
                                    <div id="username-field" class="field-wrapper input">
                                        <label class="label_">Date Time :</label><span>{{datetime}}</span>
                                    </div>
                                    <div class="d-sm-flex justify-content-between">
                                        <div class="field-wrapper">
                                            <a href="javascript:void(0)" routerLink="/" class="btn btn-primary" value="">Back to dashboard</a>
                                        </div>
                                    </div>

                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>