<!--  BEGIN CONTENT AREA  -->
<!-- <div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="form-form">
                <div class="form-form-wrap">
                    <div class="form-container">
                        <div class="form-content">
                            <h1 class="">Quick Cash Deposit</h1>
                            <form class="text-left" [formGroup]="form">
                                <div class="form">
                                    <div id="username-field" class="field-wrapper input">
                                        <label for="username">Enter Mobile No.</label>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="feather feather-phone">
                                            <path
                                                d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                            </path>
                                        </svg>
                                        <input type="text" [ngClass]="{ 'is-invalid': (f.mobile.touched || f.mobile.dirty) && f.mobile.invalid }" maxlength="10" formControlName="mobile" name="mobile" class="form-control" placeholder="91-xxxxxxxxx" autocomplete="off">
                                        <div *ngIf="(f.mobile.touched || f.mobile.dirty) && f.mobile.invalid" class="alert-error">
                                            <div *ngIf="f.mobile.errors.required"><small><b>Mobile no is required.</b></small></div>
                                            <div *ngIf="f.mobile.errors.pattern"><small><b>Please enter a valid mobile no.</b></small></div>
                                        </div>
                                    </div>
                                    <div id="otp-field" class="field-wrapper input" *ngIf="expression">
                                        <label for="otp">OTP</label>
                                        <div class="otp-wrap">
                                            <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1"
                                            min="0" max="9" pattern="[0-9]{1}" [(ngModel)]="otp.input1" (keyup)="moveFocus()" [ngModelOptions]="{standalone: true}">
                                            <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1"
                                            min="0" max="9" pattern="[0-9]{1}" [(ngModel)]="otp.input2" (keyup)="moveFocus()" type="text" [ngModelOptions]="{standalone: true}">
                                            <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1"
                                            min="0" max="9" pattern="[0-9]{1}" [(ngModel)]="otp.input3" (keyup)="moveFocus()" type="text" [ngModelOptions]="{standalone: true}">
                                            <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1"
                                            min="0" max="9" pattern="[0-9]{1}" [(ngModel)]="otp.input4" (keyup)="moveFocus()" type="text" [ngModelOptions]="{standalone: true}">
                                            <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1"
                                            min="0" max="9" pattern="[0-9]{1}" [(ngModel)]="otp.input5" (keyup)="moveFocus()" type="text" [ngModelOptions]="{standalone: true}">
                                            <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1"
                                            min="0" max="9" pattern="[0-9]{1}" [(ngModel)]="otp.input6" (keyup)="moveFocus()" type="text" [ngModelOptions]="{standalone: true}">
                                        </div>
                                      
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--  END CONTENT AREA  -->

<div class="col-lg-12 col-12 layout-spacing">
  <div class="col-xl-12 col-md-12 col-sm-12 col-12">
    <h4>ICICI Cash Deposit</h4>
  </div>
  <div class="statbox widget box box-shadow">
    <div class="widget-content">
      <div class="tab-content mb-4">
        <div class="tab-pane fade show active" id="prepaid" role="tabpanel" aria-labelledby="prepaid-tab">
          <form [formGroup]="form">
            <div class="row my-4">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputAddress">Mobile Number</label>
                  <input type="text"
                    [ngClass]="{ 'is-invalid': (f.mobile.touched || f.mobile.dirty) && f.mobile.invalid }"
                    maxlength="10" formControlName="mobile" name="mobile" class="form-control"
                    placeholder="91-xxxxxxxxx" autocomplete="off">
                  <div *ngIf="(f.mobile.touched || f.mobile.dirty) && f.mobile.invalid" class="alert-error">
                    <div *ngIf="f.mobile.errors.required"><small><b>Mobile no is required.</b></small></div>
                    <div *ngIf="f.mobile.errors.pattern"><small><b>Please enter a valid mobile no.</b></small></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputAddress">Account Number</label>
                  <input type="text"
                    [ngClass]="{ 'is-invalid': (f.account.touched || f.account.dirty) && f.account.invalid }"
                    formControlName="account" name="account" class="form-control" placeholder="xxxxxxxxxxx"
                    autocomplete="off">
                  <div *ngIf="(f.account.touched || f.account.dirty) && f.account.invalid" class="alert-error">
                    <div *ngIf="f.account.errors.required"><small><b>account no is required.</b></small></div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="inputAddress">Sub Merchant Id : <span class="alert-error">*</span></label>
                  <input type="text"
                    [ngClass]="{ 'is-invalid': (f.submerchantid.touched || f.submerchantid.dirty) && f.submerchantid.invalid }"
                    maxlength="10" formControlName="submerchantid" name="submerchantid" class="form-control"
                    placeholder="xxxxxxxxxxx" autocomplete="off" readonly>
                  <div *ngIf="(f.submerchantid.touched || f.submerchantid.dirty) && f.submerchantid.invalid"
                    class="alert-error">
                    <div *ngIf="f.submerchantid.errors.required"><small><b>Sub Merchant Id no is required.</b></small>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="inputAddress">Amount</label>
                  <input type="text"
                    [ngClass]="{ 'is-invalid': (f.amount.touched || f.amount.dirty) && f.amount.invalid }"
                    maxlength="10" formControlName="amount" name="amount" class="form-control" placeholder="Amount"
                    autocomplete="off" (keyup)="numberOnly($event)">
                  <div *ngIf="(f.amount.touched || f.amount.dirty) && f.amount.invalid" class="alert-error">
                    <div *ngIf="f.amount.errors.required"><small><b>Amount no is required.</b></small></div>
                  </div>
                </div>
              </div>
              
            </div>
            <button *ngIf="!expression" type="submit" [disabled]="!form.valid" class="btn btn-primary"
            (click)="onSubmit()">SEND
            OTP</button>
          </form>

          <div id="otp-field" class="field-wrapper input" *ngIf="expression">
            <label for="otp">OTP</label>
            <div class="otp-wrap">
              <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1" min="0" max="9"
                pattern="[0-9]{1}" [(ngModel)]="otp.input1" (keyup)="moveFocus()" [ngModelOptions]="{standalone: true}">
              <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1" min="0" max="9"
                pattern="[0-9]{1}" [(ngModel)]="otp.input2" (keyup)="moveFocus()" type="text"
                [ngModelOptions]="{standalone: true}">
              <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1" min="0" max="9"
                pattern="[0-9]{1}" [(ngModel)]="otp.input3" (keyup)="moveFocus()" type="text"
                [ngModelOptions]="{standalone: true}">
              <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1" min="0" max="9"
                pattern="[0-9]{1}" [(ngModel)]="otp.input4" (keyup)="moveFocus()" type="text"
                [ngModelOptions]="{standalone: true}">
              <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1" min="0" max="9"
                pattern="[0-9]{1}" [(ngModel)]="otp.input5" (keyup)="moveFocus()" type="text"
                [ngModelOptions]="{standalone: true}">
              <input class="form-control d-inline  mx-1 " type="text" appOtpVerification maxLength="1" size="1" min="0" max="9"
                pattern="[0-9]{1}" [(ngModel)]="otp.input6" (keyup)="moveFocus()" type="text"
                [ngModelOptions]="{standalone: true}">
            </div>

            <!-- <button *ngIf="expression" type="submit" [disabled]="!form.valid" class="btn btn-primary">Verify
              OTP</button> -->

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ri-custom-mdl [id]="mdlId">
    <app-slip-print [riCustomMdlId]="mdlId" [recepitListObj]="invoiceObj" (closeCallBack)="slipClose()"></app-slip-print>
</ri-custom-mdl>