<!--  BEGIN CONTENT AREA  -->
<div class="layout-px-spacing">
  <div class="row layout-top-spacing">
    <div class="col-12 mb-3">
      <div class="page-title d-flex align-items-center">
        <img src="../../../../assets/img/dmt-icon.svg" alt="">
        <h6 class="ml-1 mb-0 font-weight-bold">Domestic Money Transfer</h6>
      </div>
      <!-- /.page-title -->
    </div>
    <!-- /.col-12 -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
      <div class="form-form">
        <div class="form-form-wrap">
          <div class="form-container">
            <nav class="nav flex-column flex-sm-row bg-white w-100 mb-3">
              <a class="flex-sm-fill text-sm-center nav-link">Channel</a>

            </nav>
            <div class="form-content text-sm-center">
              <form class="custom-field" [formGroup]="form">
                <div class="form-group input-field d-flex flex-wrap  justify-content-center">
                  
                    <label class="col-sm-12 col-lg-2 col-form-label">Enter Mobile No.</label>
                    <div class="input-group col-12 col-lg-4 mx-1">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <input type="text"
                      [ngClass]="{ 'is-invalid': (f.mobile.touched || f.mobile.dirty) && f.mobile.invalid }"
                      maxlength="10" formControlName="mobile" name="mobile" class="form-control" autocomplete="off">
                   

                    <div *ngIf="(f.mobile.touched || f.mobile.dirty) && f.mobile.invalid" class="alert-error">
                      <div *ngIf="f.mobile.errors.required"><small><b>Mobile no is required.</b></small></div>
                      <div *ngIf="f.mobile.errors.pattern"><small><b>Please enter a valid mobile no.</b></small></div>
                    </div>
                  </div>

                  <!-- <div class="col-12 col-lg-3"> <button type="submit" class="btn btn-primary form-btn">Proceed</button>
                  </div> -->


                  <!-- <div class="input-group mx-1">
                    <textarea class="form-control" formControlName="requestremarks" name="remarks"
                     ></textarea>
                      <label for="inputAddress">Remark</label>
                    <div *ngIf="(d.requestremarks.touched || d.requestremarks.dirty) && d.requestremarks.invalid"
                      class="alert-error">
                      <div *ngIf="d.requestremarks.errors.required"><small><b>Remark is required</b></small></div>
                    </div>
                  </div> -->



                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  END CONTENT AREA  -->