<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-12 layout-spacing">
            <div class="">
                <div class="widget-heading">
                    <h5 class="">Bharat Bill Payment System (BBPS)</h5>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="col-6  col-sm-4 col-md-2 " *ngFor="let operator of operators">
                            <a (click)="routeToNext(operator)" routerLink="/bbps/{{operator.name | lowercase}}">
                                <div class="transactions-list ">
                                    <div class="t-item widget widget-table-one">
                                        <div class="t-company-name ">
                                            <div class="t-icon ">
                                                <div class="icon ">
                                                    <img [src]="operator.icon">
                                                </div>
                                            </div>
                                            <div class="t-name ">
                                                <h4>{{operator.name}}</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>