<div class="tab-pane fade active show">
  <!-- <form [formGroup]="miniStatement">
    <div class="form-row mb-4">
      <div class="form-group col-md-6">
       
      </div>
      <div class="form-group col-md-6">
        
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="form-group col-md-6">
       
      </div>
      <div class="form-group col-md-6">
        
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="form-group col-md-6">
       
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="form-group col-md-12">
        <label class="new-control new-checkbox">
          <input type="checkbox" class="new-control-input" formControlName="checkbox" checked>
          <span class="new-control-indicator"></span> I, the undersigned, the holder of the AADHAAR Number hereby give
          my consent to Paysh to obtain my Aaadhaar Number and biometrics for authentication with Unique
          Identification Authority of India (UIDAI). Paysh has informed me that my identity information will be used
          only for AEPS (Aadhaar Enabled Payment System) Mini Statement purpose and that my biometrics will not be
          stored/shared by Paysh and will be submitted to Central Identity Data Repository (CIDR) only for purpose
          of authenticating my identity.
        </label>
      </div>
    </div>
 <button type="submit" class="btn btn-primary mt-3" [disabled]="!miniStatement.valid" (click)="getDevice()">Check Device</button>&nbsp;&nbsp; 
   <button type="submit" *ngIf="checkScanbtn" class="btn btn-primary mt-3" [disabled]="!miniStatement.valid"
      (click)="getScannerData()">Scan</button>
  </form>  -->




  <form class="custom-form " [formGroup]="miniStatement">
    <div class="form-group input-field d-flex flex-wrap">
      <div class="input-group mx-1">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <input type="text" maxlength="10" autocomplete="off" OnlyNumber formControlName="mobileNumber"
          [ngClass]="{ 'is-invalid': (f.mobileNumber.touched || f.mobileNumber.dirty) && f.mobileNumber.invalid }"
          name="mobileno" class="form-control">
        <label for="inputAddress">Mobile Number</label>
        <div *ngIf="(f.mobileNumber.touched || f.mobileNumber.dirty)&& f.mobileNumber.invalid" class="alert-error">
          <div *ngIf="f.mobileNumber.errors.required"><small><b>Mobile no is required.</b></small></div>
          <div *ngIf="f.mobileNumber.errors.pattern"><small><b>Please enter a valid mobile no.</b></small></div>
        </div>
      </div>
      <div class="input-group mx-1">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <input type="text" OnlyNumber autocomplete="off" (change)="validateAadhar()" maxlength="12"
          formControlName="aadharNumber"
          [ngClass]="{ 'is-invalid': (f.aadharNumber.touched || f.aadharNumber.dirty) && f.aadharNumber.invalid }"
          name="aadharno" class="form-control">
        <label for="inputAddress">Aadhar Number</label>
        <div *ngIf="(f.aadharNumber.touched || f.aadharNumber.dirty) && f.aadharNumber.invalid" class="alert-error">
          <div *ngIf="f.aadharNumber.errors.required"><small><b>Aadhar number is required.</b></small></div>
          <div *ngIf="f.aadharNumber.errors.pattern"><small><b>Please enter a valid Aadhar number</b></small></div>
        </div>
        <div *ngIf="!aadharError" class="alert-error">
          <small><b>Please enter a valid Aadhar number!</b></small>
        </div>
      </div>
      <div class="input-group mx-1">
        <i class="fa fa-university" aria-hidden="true"></i>
        <ng-select2 class="w-100" [ngClass]="{ 'is-invalid': f.bankName.touched && f.bankName.invalid }"
          autocomplete="off" formControlName="bankName" [data]="bankLisitng" [placeholder]="'Please select a bank...'">
        </ng-select2>
        <div *ngIf="f.bankName.touched && f.bankName.invalid" class="alert-error">
          <div *ngIf="f.bankName.errors.required"><small><b>Bank Name is required.</b></small></div>
        </div>
      </div>

      <div class="input-group mx-1">
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <select class="form-control basic" [ngClass]="{ 'is-invalid': f.deviceid.touched && f.deviceid.invalid }"
          (change)="getDevice($event)" #deviceName formControlName="deviceid" name="device">
          <option value="">Please select a device...</option>
          <option *ngFor="let item of device_name_list" [value]="item.name">{{ item.name }}</option>
        </select>

        <div *ngIf="f.deviceid.touched && f.deviceid.invalid" class="alert-error">
          <div *ngIf="f.deviceid.errors.required"><small><b>device is required.</b></small></div>
        </div>
      </div>

      <div class="input-group mx-1">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <input type="text" class="form-control" formControlName="requestremarks" name="remarks">
        <label for="inputAddress">Remark</label>
        <div *ngIf="(f.requestremarks.touched || f.requestremarks.dirty) && f.requestremarks.invalid"
          class="alert-error">
          <div *ngIf="f.requestremarks.errors.required"><small><b>Remark is required</b></small></div>
        </div>
      </div>

      <label class="new-control new-checkbox">
        <input type="checkbox" class="new-control-input" formControlName="checkbox" checked>
        <span class="new-control-indicator"></span> I, the undersigned, the holder of the AADHAAR Number hereby give
        my consent to Paysh to obtain my Aaadhaar Number and biometrics for authentication with Unique
        Identification Authority of India (UIDAI). Paysh has informed me that my identity information will be used
        only for AEPS (Aadhaar Enabled Payment System) Mini Statement purpose and that my biometrics will not be
        stored/shared by Paysh and will be submitted to Central Identity Data Repository (CIDR) only for purpose
        of authenticating my identity.
      </label>



    </div>
    <div class="d-sm-flex justify-content-center">
      <div class="field-wrapper text-center">
        <button type="submit" class="btn btn-primary mt-3" (click)="getScannerData()">Scan Finger</button>
      </div>
    </div>
  </form>


</div>