<section>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center flex-column align-items-center login-wrap">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="inner-box card">
            <div class="text-center">
              <div class="logo mb-3 p-md-4"><img src="assets/logo.png"></div>
              <!-- <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply.</h2> -->
              <form class="custom-form p-md-4" [formGroup]="changePass" (submit)="changePassword()">
  
                <div id="password-field" class="field-wrapper form-group input-field input mb-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-lock">
                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                  </svg>  
  
                  <input type="password" class="form-control" 
                    [ngClass]="{ 'is-invalid': f.password.touched && f.password.invalid}" formControlName="password"
                    (focus)="showErrorBox = true;" (focusout)="showErrorBox=false" />
                  <label for="password">NEW PASSWORD</label>
  
                </div>
  
  
                <div *ngIf="showErrorBox || (f.password.touched && f.password.invalid)"
                  class="showValBoxList alert-error mt-3 mb-2">
                  <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('minlength') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
                  changePass.controls['password'].hasError('minlength') ? 'far fa-times-circle' :
                  'far fa-check-circle'"></i>
                    Must be at least 8 characters!
                  </label>
                  <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
                  changePass.controls['password'].hasError('hasNumber') ? 'far fa-times-circle' :
                  'far fa-check-circle'"></i>
                    Must contain at least 1 number!
                  </label>
                  <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
                  changePass.controls['password'].hasError('hasCapitalCase') ? 'far fa-times-circle' :
                  'far fa-check-circle'"></i>
                    Must contain at least 1 in Capital Case!
                  </label>
                  <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
                  changePass.controls['password'].hasError('hasSmallCase') ? 'far fa-times-circle' :
                  'far fa-check-circle'"></i>
                    Must contain at least 1 Letter in Small Case!
                  </label>
                  <label class="col"
                    [ngClass]="changePass.controls['password'].hasError('required') || changePass.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                    <i [ngClass]="changePass.controls['password'].hasError('required') ||
                  changePass.controls['password'].hasError('hasSpecialCharacters') ? 'far fa-times-circle' :
                  'far fa-check-circle'"></i>
                    Must contain at least 1 Special Character!
                  </label>
                </div>
  
                <div id="password-field" class="field-wrapper form-group input-field input mb-2">
                 
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-lock">
                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                  </svg>
                  <input type="password" class="form-control"
                    [ngClass]="{ 'is-invalid': f.confirmPassword.touched && f.confirmPassword.invalid }"
                    name="confirmPassword" formControlName="confirmPassword" >
                    <label for="password"> CONFIRM PASSWORD</label>
  
                </div>
  
                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert-error">
                  <div *ngIf="changePass.controls['confirmPassword'].hasError('required')">
                    <small><b> Confirm Password is
                        required.</b></small>
                  </div>
                  <div *ngIf="changePass.controls['confirmPassword'].hasError('NoPassswordMatch')">
                    <small><b>Password do not match</b></small>
                  </div>
                </div>
  
                  <div class="field-wrapper mt-3">
                    <button type="submit" class="btn btn-yellow p-2 font-weight-bold w-100 text-white"
                      [disabled]="!changePass.valid">Submit</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
  
  
  
        <!--  right end -->
      </div>
    </div>
  </section>
  