.signup{
    max-width: 845px !important;
    min-width: 311px !important;
    min-height: 100% !important;
    align-self: center !important;
    width: 100% !important;
    height: 70vh !important;
    justify-content: center !important;
}
.form-group label, label {
    font-size: 15px !important;
    color: #3e3e3e !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
}