<blockquote class="blockquote mt-4">
    <h3 class="aeps-title">Add Fund</h3>
    <form [formGroup]="form" class="mt-3" (submit)="onSubmit()">   
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Amount : <span class="alert-error">*</span></label>
                <input type="text" formControlName="amount" [ngClass]="{ 'is-invalid': f.amount.touched && f.amount.invalid }" autocomplete="off" OnlyNumber name="amount" class="form-control" placeholder="Enter amount">
                <div *ngIf="f.amount.touched && f.amount.invalid" class="alert-error">
                    <div *ngIf="f.amount.errors.required"><small><b>Amount is required.</b></small></div>
                    <div *ngIf="f.amount.errors.pattern"><small><b>Please fill a valid amount</b></small></div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">Submit</button>
    </form>
</blockquote>