<!--  BEGIN CONTENT AREA  -->
<div class="layout-px-spacing">
  <div class="row layout-top-spacing">
    <div class="col-12 mb-3">
      <div class="page-title d-flex align-items-center">
        <img src="../../../../assets/wallet-page.svg" alt="">
        <h6 class="ml-1 mb-0 font-weight-bold">wallet</h6>
      </div>
      <!-- /.page-title -->
    </div>
    <!-- /.col-12 -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="form-form">
        <div class="form-form-wrap">
          <div class="form-container">
            <nav class="nav flex-column flex-sm-row bg-white w-100 mb-3">
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/paytm-wallet" routerLinkActive="active-item">Paytm Wallet</a>
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/mobikwik-wallet" routerLinkActive="active-item">Mobikwik Wallet</a>
                <a class="flex-sm-fill text-sm-center nav-link" routerLink="/statement/wallet" routerLinkActive="active-item">Wallet Statement</a>
              </nav>
            <div class="form-content">
              <form class="custom-form" [formGroup]="form" (submit)="onSubmit()">
                <div class="form-group input-field d-flex flex-wrap">
                  <div class="col-12 col-lg-6 col-sm-12 col-md-6">

                  <div class="input-group">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                    <input type="text" [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.invalid}"
                      formControlName="mobile" name="mobile" class="form-control">
                    <label for="username">Enter Mobile No.</label>
                    <div *ngIf="f.mobile.touched && f.mobile.invalid" class="alert-error">
                      <div *ngIf="f.mobile.errors.required"><small><b>Mobile no is
                            required.</b></small></div>
                      <div *ngIf="f.mobile.errors.pattern"><small><b>Please enter a valid mobile
                            no.</b></small></div>
                    </div>
                  </div>
                  </div>
                  <div class="col-12 col-lg-6 col-sm-12 col-md-6">

                  <div class="input-group mx-1">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    <input type="text" [ngClass]="{ 'is-invalid': f.amount.touched && f.amount.invalid }"
                      formControlName="amount" name="amount" class="form-control">
                    <label for="username">Enter Amount</label>
                    <div *ngIf="f.amount.touched && f.amount.invalid" class="alert-error">
                      <div *ngIf="f.amount.errors.required"><small><b>Amount is
                            required.</b></small></div>
                    </div>
                  </div>
                  </div>
                  
                </div>
                <div class="d-sm-flex justify-content-center">
                  <div class="field-wrapper text-center">
                    <button type="submit" class="btn btn-primary" value="">Get OTP</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  END CONTENT AREA  -->

<!---Start OTP Model Box--->
<app-custom-model [length]="6" (onClickResendOtp)="resend_otp()" (onFocusNext)="moveFocus()"></app-custom-model>
<!---End OTP Model Box--->
