<blockquote class="blockquote mt-4">
    <a routerLink="/account/staff/list" class="btn btn-primary mt-2 btn-sm float-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg> Back</a>
    <h3 class="aeps-title">{{(isEdit?"Update":"Create")}} Staff</h3>
    <form [formGroup]="form" class="mt-3" (submit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Name : <span class="alert-error">*</span></label>
                <input type="text" [ngClass]="{ 'is-invalid':  (f.name.touched || f.name.dirty) && f.name.invalid }" class="form-control" formControlName="name" autocomplete="off" placeholder="Enter Name">
                <div *ngIf="(f.name.touched || f.name.dirty) && f.name.invalid" class="alert-error">
                    <div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small></div>
                    <div *ngIf="f.name.errors.pattern"><small><b>Only alphabets allowed.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Firm Name : <span class="alert-error">*</span></label>
                <input type="text" formControlName="firmname" [ngClass]="{ 'is-invalid': (f.firmname.touched || f.firmname.dirty) && f.firmname.invalid }" name="firmname" class="form-control" autocomplete="off" placeholder="Enter your firm name">
                <div *ngIf="(f.firmname.touched || f.firmname.dirty) && f.firmname.invalid" class="alert-error">
                    <div *ngIf="f.firmname.errors.required"><small><b>Firm Name is required.</b></small></div>
                </div>
            </div>
        </div> 

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Username : <span class="alert-error">*</span></label>
                <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': (f.username.touched || f.username.dirty) && f.username.invalid }" name="username" class="form-control" autocomplete="off" placeholder="Enter a unique username">
                <div *ngIf="(f.username.touched || f.username.dirty) && f.username.invalid" class="alert-error">
                    <div *ngIf="f.username.errors.required"><small><b>Username is required.</b></small></div>
                    <div *ngIf="f.username.errors.pattern"><small><b>Only alphanumeric allowed.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Email : <span class="alert-error">*</span></label>
                <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': (f.email.touched || f.email.dirty) && f.email.invalid }" name="email" class="form-control" autocomplete="off" placeholder="Enter your email">
                <div *ngIf="(f.email.touched || f.email.dirty) && f.email.invalid" class="alert-error">
                    <div *ngIf="f.email.errors.required"><small><b>Email is required.</b></small></div>
                    <div *ngIf="f.email.errors.email"><small><b>Enter a valid email.</b></small></div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Phone no : <span class="alert-error">*</span></label>
                <input type="text" formControlName="phone" [ngClass]="{ 'is-invalid': (f.phone.touched || f.phone.dirty) && f.phone.invalid }" name="phone" maxlength="10" autocomplete="off" OnlyNumber  class="form-control" placeholder="Enter your phone no">
                <div *ngIf="(f.phone.touched || f.phone.dirty) && f.phone.invalid" class="alert-error">
                    <div *ngIf="f.phone.errors.required"><small><b>Phone no is required.</b></small></div>
                    <div *ngIf="f.phone.errors.pattern"><small><b>Enter a valid phone no.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6 pt-5 pl-2">
                <label class="new-control new-radio new-radio-text radio-success">
                    <input  formControlName="status" type="radio" class="new-control-input" name="status" value="1">
                    <span class="new-control-indicator"></span><span class="new-radio-content">Activate</span>
                  </label>
                <label class="new-control new-radio new-radio-text radio-danger">
                    <input formControlName="status" type="radio" class="new-control-input" name="status" value="0">
                    <span class="new-control-indicator"></span><span class="new-radio-content">Deactivate</span>
                  </label>
                  <div *ngIf="(f.status.touched || f.status.dirty) && f.status.invalid" class="alert-error">
                    <div *ngIf="f.status.errors.required"><small><b>Status is required.</b></small></div>
                </div>
            </div>
        </div>
        <div class="form-row" *ngIf="isEdit == true">
            <div class="form-group col-md-6">
                <label for="inputAddress">Remarks : </label>
                <textarea type="text" formControlName="remarks" [ngClass]="{ 'is-invalid': (f.remarks.touched || f.remarks.dirty) && f.remarks.invalid }" name="phone" autocomplete="off" class="form-control" placeholder="Enter your Remarks"></textarea>
                <div *ngIf="(f.remarks.touched || f.remarks.dirty) && f.remarks.invalid" class="alert-error">
                    <div *ngIf="f.remarks.errors.required"><small><b>Remarks is required.</b></small></div>
                </div>
            </div>     
        </div>
        <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">Submit</button>
    </form>
    <div class="form-group col-md-12" *ngIf="isEdit">
        <label for="inputAddress">All Remarks : </label>
        <textarea type="text"  [(ngModel)]="showRemark" name="phone" autocomplete="off" class="form-control" placeholder="Enter your Remarks" readonly></textarea>
    </div>
</blockquote>