<div class="widget mt-3">
    <div class="d-flex align-items-center">
        <button (click)="goBack()" class="d-flex align-items-center btn btn-primary btn-sm mr-2 px-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="mr-1 bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
          </svg> Back</button>
        <img class="icon" src="{{bbpsInformation.icon}}" alt="">
        <h5 class="ml-2 my-0">{{bbpsInformation.name}}</h5>

    </div>
    <form [formGroup]="form" autocomplete="off" class="mt-3">
        <div class="row">
            <div class=" col-md-8 col-lg-6 mx-auto">
                <div class="form-group">
                    <label for="inputEmail4">OPERATOR : <span class="alert-error">*</span></label>
                    <ng-select2 (valueChanged)="valueChange($event)" [ngClass]="{ 'is-invalid':  f.operator.touched && f.operator.invalid }" [options]="options" formControlName="operator" [(ngModel)]="operator" [data]="operators" [placeholder]="'Please select a Operator...'">
                    </ng-select2>
                    <div *ngIf="f.operator.touched && f.operator.invalid" class="alert-error">
                        <div *ngIf="f.operator.errors.required"><small><b>Operator is
              required.</b></small></div>
                    </div>
                </div>

                <div class="form-group" *ngIf="subinputfeild">
                    <label for="" class="font-weight-bolder">{{subheading}} : </label>
                    <input type="text" [ngClass]="{ 'is-invalid':  f.subcode.touched && f.subcode.invalid }" class="form-control" formControlName="subcode" autocomplete="off" placeholder="{{subheading}}">
                    <div *ngIf="f.subcode.touched && f.subcode.invalid" class="alert-error">
                        <div *ngIf="f.subcode.errors.required"><small><b>{{subheading}} is required.</b></small></div>
                        <div *ngIf="f.subcode.errors.pattern"><small><b>{{subheading}} is not valid.</b></small></div>`
                    </div>
                </div>

                <div class="form-group" *ngIf="isOperator">
                    <label for="" class="font-weight-bolder">{{heading}} : </label>
                    <input type="text" [ngClass]="{ 'is-invalid':  f.code.touched && f.code.invalid }" class="form-control" formControlName="code" autocomplete="off" placeholder="{{heading}}">
                    <div *ngIf="f.code.touched && f.code.invalid" class="alert-error">
                        <div *ngIf="f.code.errors.required"><small><b>{{heading}} is required.</b></small></div>
                        <div *ngIf="f.code.errors.pattern"><small><b>{{heading}} is not valid.</b></small></div>`
                    </div>
                </div>
                <div class="text-center my-4">
                    <h6>NOTE : YOUR SERVICE PROVIDER MAY TAKE UPTO TWO WORKING DAYS TO CONSIDER BILL PAID IN THEIR ACCOUNTS.
                    </h6>
                </div>
                <table class="table table-bordered" *ngIf="fetchBill">
                    <tr>
                        <th>Name</th>
                        <td>{{fetchBill.name}}</td>
                    </tr>
                    <tr>
                        <th>Due Date</th>
                        <td>{{fetchBill.duedate }}</td>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <td>{{fetchBill.amount | currency:"INR"}}</td>
                    </tr>
                </table>
                <div class="form-group text-center" *ngIf="isOperator">
                    <button [disabled]="!form.valid" type="button" class="btn btn-primary mr-2" *ngIf="(viewbill == true)" (click)="viewBill()"><i class="fas fa-receipt mr-2"></i>View Bill</button>
                    <button [disabled]="validatePayButton()" type="button" class="btn btn-success" *ngIf="(viewbill == false)" (click)="onSubmit()">Pay Now</button>
                </div>
            </div>
        </div>
    </form>
</div>

<ri-custom-mdl [id]="mdlId">
    <app-slip-print [riCustomMdlId]="mdlId" [recepitListObj]="invoiceObj" (closeCallBack)="slipClose()"></app-slip-print>
</ri-custom-mdl>