<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget">
                <h5>Funding</h5>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary mt-2 btn-sm float-right" routerLink="/fund/create">Add Fund</a>
                        <a class="btn btn-primary mt-2 btn-sm float-right mr-2" *ngIf="usertype !== '5'" routerLink="/fund/transfer">Transfer Fund</a>
                    </div>
                </div>
                <form (submit)="filter()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Start Date: </label>
                                <input onkeydown="return false"  class="form-control" name="startdate" id="startdate" placeholder="yyyy-mm-dd" #dp="bsDatepicker" bsDatepicker [(ngModel)]="search.startdate" autocomplete="off">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>End Date : </label>
                                <input onkeydown="return false" class="form-control" name="enddate" id="enddate" placeholder="yyyy-mm-dd" #dp="bsDatepicker" bsDatepicker [maxDate]="maxDate" [(ngModel)]="search.enddate" autocomplete="off">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Status :</label>
                                <select class="form-control" name="status" [(ngModel)]="status">
                                    <option value="">All</option>
                                    <option value="1">Approved</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Authorization Pending </option>
                                    <option value="4">Hold</option>
                                    <option value="0">Rejected</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="form-group ">
                                <br>
                                <button class="btn btn-primary mt-2 btn-lg " type="submit ">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
                <app-data-table-tools [columns]="columns" [url]="url"></app-data-table-tools>
            </div>
        </div>
    </div>
</div>