
<div class="row layout-top-spacing">

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 offset-md-2 layout-spacing bg-white p-3"
        style="box-shadow: 0px 4px 4px rgba(174, 174, 174, 0.25);">

        <div id="testPrit">

            <table class="table r-table" style="background-color:#fff;">
                <tbody>
                    <tr>
                        <td>
                            <img src="assets/logo.png" width="86" height="24">
                        </td>
                        <td>&nbsp;</td>
                        <td style="text-align: right;">
                            <img src="assets/icici-logo.png" width="125" height="24">

                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:12px;color:#5C5C5C"> <strong>GSTIN :</strong>12345678909</td>
                    </tr>
                    <tr>
                        <td style="font-size:14px;color:#000">MINI STATEMENT</td>
                    </tr>
                    <tr class="table-name">
                        <td> <strong>CSP Name</strong><p>{{firmname}} ({{username}})</p>
                        </td>
                        <td> <strong>BC Name</strong> <p>Paysh</p>
                        </td>
                        <td><strong>Bank Name</strong><p>{{bankname}}</p>
                        </td>

                    </tr>
                    <tr class="table-name" style="border-bottom: 1px solid #ccc;">
                        <td><strong>TXN Status</strong><p>Success</p>
                        </td>
                        <td><strong>Bank Rrn</strong><p>{{bankrrn}}</p>
                        </td>
                    </tr>

                    <tr class="table-name">
                        <td style="font-size:12px;color:#5C5C5C"> <strong>Available Balance</strong> 
                            <p style="margin-bottom:0;">Rs {{balanceAmount }}</p>
                            <p>  {{amount }}</p>
                        </td>
                    </tr>
                    <tr class="table-name">
                        <td><strong>Aadhar Number</strong> <p>XXXX XXXX {{aadhaar}}</p>
                        </td>
                        <td><strong>TXN Date & TIme</strong> <p>{{datetime}}</p>
                        </td>
                        <td> <strong>Acknowledgment Number</strong> <p>{{ackno}}</p>
                        </td>

                    </tr>
                    <tr class="table-name">
                        <td><strong>Bank IIN</strong><p>{{bankiin}}</p>
                        </td>
                        <td><strong>BC Location</strong><p>N/A</p>
                        </td>
                    </tr> 
                </tbody>
            </table>

            <table class="table table-bordered r-table" style="background-color: #fff;">
                <thead>
                    <tr class="table2">
                        <th>Date</th>
                        <th>Transaction Type</th>
                        <th>Amount (in Rs)</th>
                    </tr>
                </thead>
                <tbody *ngIf="ministatement?.length != 0">
                    <tr *ngFor="let obj of ministatement">
                        <td>{{ obj.date }}</td>
                        <td>{{obj.narration}}{{ obj.txnType }}</td>
                        <td>{{ obj.amount }}</td>
                    </tr>  
                </tbody>
            </table>



        </div>




    </div>

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 offset-md-2 layout-spacing">
        <div class="widget text-center" style="margin-top:30px;;">
            <button class="btn btn-primary" (click)="printPage()">Print</button>
        </div>
    </div>

</div>














<!-- <div class="row layout-top-spacing">
    <div class="col-lg-12 col-12 layout-spacing">
        <div class="col-xl-12 col-lg-8 col-md-8 col-sm-8 col-8 layout-spacing">
            <div id="testPrit">
                <div class="widget">
                    <table class="table table-bordered mb-0">
                        <tbody>
                            <tr>
                                <td>
                                    <div><img src="https://soft.rnfi.in/assets/img/aadhar.jpg" width="200" height="100"></div>
                                </td>
                                <td>
                                    <div><img src="https://soft.rnfi.in/assets/img/icici.jpg" width="200" height="100"></div>
                                </td>
                            </tr>
                            <tr>
                                <th>Bank RRN</th>
                                <td>{{bankiin}}</td>
                                <th>Balance Amount</th>
                                <td>{{balanceAmount | currency:'INR'}}</td>
                            </tr>
                            <tr>
                                <th>Bank Name</th>
                                <td>{{bankname}}</td>
                                <th>TXN DATE TIME</th>
                                <td>{{datetime | date :'dd-MMM-yy'}}</td>
                            </tr>



                        </tbody>
                    </table>

                </div>
                <div class="widget">
                    <h5>Ministatement</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered mb-4">
                            <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Narration</th>
                                    <th>Transaction Type</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="ministatement?.length != 0">
                                <tr *ngFor="let obj of ministatement">
                                    <td>{{ obj.amount }}</td>
                                    <td>{{ obj.date }}</td>
                                    <td>{{ obj.narration }}</td>
                                    <td>{{ obj.txnType }}</td>
                                </tr>
                            </tbody>
                            <tbody *ngIf="ministatement?.length==0 ">
                                <tr>
                                    <td colspan="3 " class="no-data-available ">No data!</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="widget text-center">
                <button class="btn btn-primary" (click)="printPage()">Print</button>
            </div>
        </div>
    </div>
</div> -->