 
<section class="sheet padding-10mm" id="print-section">

    <div class="outer_wrapper">
        <div class="header">

            <div class="rnfi_logo"><img src="assets/logo.png"></div>
        </div>

        <div class="licence">CERTIFICATE<p>OF AUTHORIZATION</p>
        </div>

        <div class="cert_matter">
            <p>This is to certify that</p>
            <p><span>Mr/Ms {{name}} ({{firmname}} )</span></p>
            <p class="matter2">is appointed as the customer service point of Paysh Services Pvt. Ltd.</p>

            <p><span>,,</span></p>
        </div>


        <div class="footer">
            <div class="blks">
                <div class="sign">
                    <ul>
                        <li><img src="https://uat.rnfi.in/asset/images/_default/irctc/austh_sign.jpg"></li>
                        <li>Authorized Signatory</li>
                    </ul>
                </div>
            </div>

            <div class="blks">
                <div class="user_code">
                    <ul>
                        <li>{{username}}</li>
                        <li>Agent Code</li>
                    </ul>
                </div>
            </div>

            <div class="blks">
                <div class="user_code">
                    <ul>
                        <li>{{currentDate }}</li>
                        <li>Valid Upto</li>
                    </ul>
                </div>
            </div>

            <div class="blks">
                <div class="power">
                    <ul>
                        <li>Powered By</li>
                        <li><img src="assets/logo.png"></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>



 