<!-- <div class="form-container outer">
    <div class="form-form">
        <div class="form-form-wrap">
            <div class="form-container">
                <div class="form-content">
                    <h1 class="">Password Recovery</h1>
                    <p class="signup-link recovery">Enter your Username and otp will sent to you!</p>
                    <form [formGroup]="forgotPass" (submit)="forgotPasswordSentOtp()">
                        <div class="form">
                            <div id="email-field" class="field-wrapper input">
                                <div class="d-flex justify-content-between">
                                    <label for="username">Username</label>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock">
                                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                </svg>
                                <input id="username" formControlName="username" type="text" class="form-control" [ngClass]="{ 'is-invalid': f.username.touched && f.username.invalid}" placeholder="Please enter your username">
                            </div>

                            <div class="d-sm-flex justify-content-between">
                                <div class="field-wrapper">
                                    <button type="submit" class="btn btn-primary" [disabled]="!forgotPass.valid" value="">Send OTP</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="signup-link text-left">
                                        <a routerLink="/login">Back to Login</a>
                                    </p>
                                </div>
                                <div class="col-md-6 text-right">
                                    <p class="signup-link text-right">
                                        <a routerLink="/signup">Signup</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/login-bg.jpg" class="fixed-bg" />
</div> -->

<section>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center flex-column align-items-center login-wrap">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                <div class="inner-box card">
                    <div class="text-center"> 
                        <div class="logo mb-3 p-md-4"><img src="assets/logo.png"></div>
                        <!-- <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply.</h2> -->
                        <form class="custom-form p-md-4" [formGroup]="forgotPass" (submit)="forgotPasswordSentOtp()">
                            
                            <div class="form-group input-field">
                                <div class="input-group">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <input type="text"  [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" id="text1" formControlName="username" autocomplete="off">
                                    <label>UserName/Mobile</label>
                                </div>
                                <div *ngIf="submitted && f.username.errors" class="alert-error">
                                    <div *ngIf="submitted && f.username.errors"><small><b>Username is required</b></small></div> 
                                </div>
                            </div> 
                            <div class="row">
                        <div class="col-sm-12"><div class="forgot">
                            <a href="#"  routerLink="/login"> Back to Login?</a></div></div></div>
                            <div class="form-group text-center"> 
                                <button type="submit"   [disabled]="!forgotPass.valid"  name="submit"   class="btn btn-yellow p-2 font-weight-bold w-100 text-white">Send Otp </button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
         
    
    
           <!--  right end -->
        </div>
    </div>
    </section>
<app-custom-model [length]="4" (onClickResendOtp)="resend_otp()" (onFocusNext)="moveFocus()"></app-custom-model>