@import url(../../../assets/login/style.css);
@import url(../../../assets/login/responsive.css);


.alert-error {
    font-size: 15px !important;
    color: #eb1d31 !important;
    width: 100%;
    text-align: left;
}

.input-group{
    margin-bottom: 5px;
}
.input-field{
    position: relative;
}

.logo{
    background-color: #E9FFF9;
}

.input-group i{
    left: 20px !important;
}