<div class="container" style="background-color: white;">
    <div class="white_bg">
        <h1>Refund and Cancellation Policy</h1>
        <div class="form_blk p-3 ">
            <p>A transaction that fails for a reason that it is directly attributable to Paysh, and for which the user receives a corresponding confirmation from the associated payment gateway will be refunded automatically back to the account of the
                user in a time period of 3 to 21 working days, from the date on which the original transaction has taken place. A confirmation email will also be sent to the email ID of the user registered with us. Please note that the amount pertaining
                to the applicable taxes and the payment gateway charges will not be refunded.</p>
            <p>In cases in which the user receives the successful payment completion confirmation but does not get the services, the user is required to register a complaint with Paysh. This complaint can be logged by the user by sending an email to the Customer
                Care email ID provided on the website. We will conduct a complete inquiry upon receiving the complaint registered by the user. Refund of the payment will be provided to the user account on the basis of results of the inquiry.</p>
            <p>Please note that in all cases, the liability of Paysh is restricted only to provide a valid refund to the extent of the payment received by us. Paysh is not responsible for any consequential liability or claim that may be associated
                with the failure of the services of our system.</p>
            <p>A user should accept that the Paysh refund policy is subject to the stated terms and conditions of the user agreement of the website.</p>
            <p>We thank you for transacting with us and look forward to a bright and successful future for our partnership.</p>
        </div>
    </div>
</div>