<div class="container" style="background-color: white;">
    <div class="white_bg">
        <h1>About Us</h1>
        <div class="form_blk p-3 ">
            <p>Paysh is ultimate platform for distributors and retailers who provide online payment services. We assure our clients and customers safe, secure and convenient mode of transactions.</p>
            <p>Indeed, we are unique digital platform that caters attractive and instant (real time) rewards as well as commission to our B2B partners such as distributors, retailers, clients etc., through our own developed safe and secure interface.</p>
            <p><i class="fa fa-check"></i> To meet the futuristic digital and online financial solutions, Paysh believes to facilitate each and every people of the country one of most trusted, reliable and quickest online payment solution gateways.</p>
            <p><i class="fa fa-check"></i> We believe to work with all premier financial institutions and organizations who are leading the economy of country whether they are governmental or non-governmental bodies.</p>
            <p><i class="fa fa-check"></i> Through our safe, secure, reliable and quickest payment gateway we believe to connect Semi-urban &amp; Rural India to the mainstream of economic development.</p>
            <p><i class="fa fa-check"></i> Paysh believes to train, assist and work with DMR distribution networks as per mandates given by the banks.</p>
        </div>
    </div>
</div>