<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget">
                <form class="mt-3" [formGroup]="productform">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Product Name</label>
                            <input type="text" [ngClass]="{ 'is-invalid': (f.product.touched || f.product.dirty) && f.product.invalid }"
                            maxlength="60" formControlName="product" class="form-control" placeholder="Enter Product Name">
                            <div *ngIf="(f.product.touched || f.product.dirty) && f.product.invalid" class="alert-error">
                                <div *ngIf="f.product.errors.required"><small><b>Product name is required.</b></small></div> 
                              </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Enter Price</label>
                            <input type="text" [ngClass]="{ 'is-invalid': (f.price.touched || f.price.dirty) && f.price.invalid }"
                            formControlName="price"  class="form-control" placeholder="Enter Price">
                            <div *ngIf="(f.price.touched || f.price.dirty) && f.price.invalid" class="alert-error">
                                <div *ngIf="f.price.errors.required"><small><b>price amount is required.</b></small></div>
                              </div>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Enter Doc Url</label>
                            <input type="text" class="form-control" formControlName="docurl" placeholder="Enter Doc Url">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Enter Description</label>
                            <input type="text" [ngClass]="{ 'is-invalid': (f.description.touched || f.description.dirty) && f.description.invalid }"
                            formControlName="description" class="form-control" placeholder="Enter Description">
                            <div *ngIf="(f.description.touched || f.description.dirty) && f.description.invalid" class="alert-error">
                                <div *ngIf="f.description.touched"><small><b>description is required.</b></small></div>
                              </div>
                        </div>
                    </div>

                    <div class="form-row ">
                        <div class="form-group upload col-md-6">
                             <span for="">Upload Image</span>
                            <label for='input-file' >
                                <i class="fas fa-file-upload"></i>Drop file here or Click to upload
                            </label>
                            <input id='input-file' type='file' ccept="image/*" #fileUploder (change)="handleFileInput($event)" />
                           
                        </div> 
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Preview image</label>
                           <div *ngIf="imageUrl"> <img src="{{imageUrl}}" alt="" style="width: 80px; height: 80px;"></div>
                        </div>
                    </div>
                   
                    <button type="submit"  [disabled]="!productform.valid" (click)="onclick()"  class="btn btn-primary mt-3 mr-3">{{(isEdit?"Update":"Add")}}   Product</button>
                    <button type="button" (click)="reset()" class="btn btn-primary mt-3">Reset</button>

                </form>
            </div>
        </div>
    </div>