<div class="tab-pane fade active show">
   

        <div class="col-lg-12">
            <div class="statbox">
                <div id="accordionIcons" class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4>SCANNER SETTINGS</h4>
                        </div>
                    </div>
                </div>
                <div class="widget-content">
                    <div id="iconsAccordion" class="accordion-icons">
                        <div class="card card2">
                            <div class="card-header" id="headingOne3">
                                <section class="mb-0 mt-0 tabber-cust">
                                    <div role="menu" class="collapsed" data-toggle="collapse" data-target="#iconAccordionOne" aria-expanded="true" aria-controls="iconAccordionOne">
                                        <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg></div>
                                        Mantra Installation Guide
                                        <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                    </div>
                                </section>
                            </div>

                            <div id="iconAccordionOne" class="collapse" aria-labelledby="headingOne3" data-parent="#iconsAccordion">
                                <div class="card-body">
                                    <div class="panel2">
                                        <ul class="a">
                                            <li>Uninstall all Installed mantra drivers.</li>
                                            <li>Delete temp files. Press window button+R (OR OPEN RUN) and type %temp%</li>
                                            <li>Disable your antivirus.(Mandatory)</li>
                                            <li>If you are using window defender, please turn off realtime protection.</li>
                                            <li>Install Mantra drivers serialwise from mantra website or below mentioned links.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Download Links</h5>
                                            <p>WINDOW 7/8/10</p>
                                            <div class="my-2">
                                                <a href="http://txnslip.in/aepsdriver/mantra/MFS100Driver_9.0.2.8.exe" class="btn btn-success">MantraRDService</a>&nbsp;&nbsp;
                                                <a href="http://txnslip.in/aepsdriver/mantra/MantraRDService_1.0.1.exe" class="btn btn-success">MFS100Driver</a>
                                            </div>
                                        </div>
                                        <ul class="a">
                                            <li>Collect all downloaded files in one folder and please exclude all files from antivirus. If you are using defender, then go to virus and threat protection setting and select exclusion.</li>
                                            <li>After installation of all the driver components, please add installation directory and file(rd service etc) to antivirus exclusion list.</li>
                                            <li>Now open notepad as admin and give location of Host file i.e C:\Windows\System32\drivers\etc</li>
                                            <li>If do not get any file through notepad please select all files in down menu. Now click on last line and hit enter for new line. Now press "Tab" key and write 127.0.0.1 and again press Tab key and write "localhost"
                                                and save them.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Google Chrome Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>open "chrome://flags" in crome browser and press "ctrl+F" and type "insecure". Now enable to Allow invalid certificates for resources loaded from localhost. Relaunch the chrome.</li>
                                            <li>Now Plug Device (If driver install successfully ,then popup will come at bottom-right corner and display Message "Framework is ready to use".)</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Mozilla Firefox Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>Open Firefox browser and write https://127.0.0.1:8005 in url and click on "I Understand the Risks.</li>
                                            <li>Click "Add Exception", it will open Add Security Exception popup and then click "Confirm Security Exception.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card2">
                            <div class="card-header" id="headingTwo3">
                                <section class="mb-0 mt-0 tabber-cust">
                                    <div role="menu" class="collapsed" data-toggle="collapse" data-target="#iconAccordionTwo" aria-expanded="false" aria-controls="iconAccordionTwo">
                                        <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg></div>
                                        Morpho Installation Guide
                                        <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                    </div>
                                </section>
                            </div>
                            <div id="iconAccordionTwo" class="collapse" aria-labelledby="headingTwo3" data-parent="#iconsAccordion">
                                <div class="card-body">
                                    <div class="panel2">
                                        <ul class="a">
                                            <li>Uninstall all Installed Mantra drivers..</li>
                                            <li>Delete temp files. Press window button+R (OR OPEN RUN) and type %temp%</li>
                                            <li>Disable your antivirus.(Mandatory)</li>
                                            <li>If you are using window defender, please turn off realtime protection.</li>
                                            <li>Install Mantra drivers serialwise from mantra website or below mentioned links.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Download Links</h5>
                                            <p>WINDOW 7/8/10</p>
                                            <div class="my-2">
                                                <a href="http://txnslip.in/aepsdriver/Morpho/MorphoRdServiceL0SoftUpdater.exe" class="btn btn-success">Download Morpho Driver</a>
                                            </div>
                                        </div>
                                        <ul class="a">
                                            <li>Collect all downloaded files in one folder and please exclude all files from antivirus. If you are using defender, then go to virus and threat protection setting and select exclusion.</li>
                                            <li>After installation of all the driver components, please add installation directory and file(rd service etc) to antivirus exclusion list.</li>
                                            <li>Now open notepad as admin and give location of Host file i.e C:\Windows\System32\drivers\etc</li>
                                            <li>If do not get any file through notepad please select all files in down menu. Now click on last line and hit enter for new line. Now press "Tab" key and write 127.0.0.1 and again press Tab key and write "localhost"
                                                and save them.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Google Chrome Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>open "chrome://flags" in crome browser and press "ctrl+F" and type "insecure". Now enable to Allow invalid certificates for resources loaded from localhost. Relaunch the chrome.</li>
                                            <li>Now Plug Device (If driver install successfully ,then popup will come at bottom-right corner and display Message "Framework is ready to use".)</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Mozilla Firefox Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>Open Firefox browser and write https://127.0.0.1:8005 in url and click on "I Understand the Risks.</li>
                                            <li>Click "Add Exception", it will open Add Security Exception popup and then click "Confirm Security Exception.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card2">
                            <div class="card-header" id="headingThree8">
                                <section class="mb-0 mt-0 tabber-cust">
                                    <div role="menu" class="" data-toggle="collapse" data-target="#iconAccordionThree" aria-expanded="false" aria-controls="iconAccordionThree" class="collapsed">
                                        <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg></div>
                                        Secugen Installation Guide
                                        <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                    </div>
                                </section>
                            </div>
                            <div id="iconAccordionThree" class="collapse" aria-labelledby="headingThree8" data-parent="#iconsAccordion">
                                <div class="card-body">
                                    <div class="panel2">
                                        <ul class="a">
                                            <li>Uninstall all Installed rd drivers</li>
                                            <li>Unpluging the device first.</li>
                                            <li>Delete temp files. Press window button+R (OR OPEN RUN) and type %temp%</li>
                                            <li>Disable your antivirus.(Mandatory)</li>
                                            <li>If you are using window defender, please turn off realtime protection.</li>
                                            <li>Install secugen drivers serialwise from below mentioned links.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Download Links</h5>
                                            <p>Download RD Drivers</p>
                                            <div class="my-2">
                                                <a href="http://txnslip.in/aepsdriver/secugen/SecugenRdservice.zip" class="btn btn-success sett-btn">Download Secugen RD Driver</a>&nbsp;&nbsp;
                                                <a href="http://txnslip.in/aepsdriver/secugen/SecuGenDriverInstall64.zip" class="btn btn-success sett-btn">Download Secugen Driver 64 Bit</a>&nbsp;&nbsp;
                                                <a href="http://txnslip.in/aepsdriver/secugen/SecuGenDriverInstall32.zip" class="btn btn-success sett-btn">Download Secugen Driver 32 Bit</a>
                                            </div>
                                        </div>
                                        <ul class="a">
                                            <li>Collect all downloaded files in one folder and please exclude all files from antivirus. If you are using defender, then go to virus and threat protection setting and select exclusion.</li>
                                            <li>After installation of all the driver components, please add installation directory and file(rd service etc) to antivirus exclusion list.</li>
                                            <li>Now open notepad as admin and give location of Host file i.e C:\Windows\System32\drivers\etc</li>
                                            <li>If do not get any file through notepad please select all files in down menu. Now click on last line and hit enter for new line. Now press "Tab" key and write 127.0.0.1 and again press Tab key and write "localhost"
                                                and save them.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Google Chrome Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>open "chrome://flags" in crome browser and press "ctrl+F" and type "insecure". Now enable to Allow invalid certificates for resources loaded from localhost. Relaunch the chrome.</li>
                                            <li>Now Plug Device (If driver install successfully ,then popup will come at bottom-right corner and display Message "Framework is ready to use".)</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Mozilla Firefox Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>Open Firefox browser and write https://127.0.0.1:8005 in url and click on "I Understand the Risks.</li>
                                            <li>Click "Add Exception", it will open Add Security Exception popup and then click "Confirm Security Exception.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card2">
                            <div class="card-header" id="headingThree8">
                                <section class="mb-0 mt-0 tabber-cust">
                                    <div role="menu" class="" data-toggle="collapse" data-target="#iconAccordionfour" aria-expanded="false" aria-controls="iconAccordionfour" class="collapsed">
                                        <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg></div>
                                        Startek Installation Guide
                                        <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                    </div>
                                </section>
                            </div>
                            <div id="iconAccordionfour" class="collapse" aria-labelledby="headingThree8" data-parent="#iconsAccordion">
                                <div class="card-body">
                                    <div class="panel2">
                                        <ul class="a">
                                            <li>Uninstall all Installed rd drivers</li>
                                            <li>Unpluging the device first.</li>
                                            <li>Delete temp files. Press window button+R (OR OPEN RUN) and type %temp%</li>
                                            <li>Disable your antivirus.(Mandatory)</li>
                                            <li>If you are using window defender, please turn off realtime protection.</li>
                                            <li>Install secugen drivers serialwise from below mentioned links.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Download Links</h5>
                                            <p>Download RD Drivers</p>
                                            <div class="my-2">
                                                <a href="http://txnslip.in/aepsdriver/startek/Startekrdservice.zip" class="btn btn-success">Download Startek RD Driver</a>&nbsp;&nbsp;
                                                <a href="http://txnslip.in/aepsdriver/startek/Starteksupportdriver.zip" class="btn btn-success">Download Startek Support Driver</a>

                                            </div>
                                        </div>
                                        <ul class="a">
                                            <li>Collect all downloaded files in one folder and please exclude all files from antivirus. If you are using defender, then go to virus and threat protection setting and select exclusion.</li>
                                            <li>After installation of all the driver components, please add installation directory and file(rd service etc) to antivirus exclusion list.</li>
                                            <li>Now open notepad as admin and give location of Host file i.e C:\Windows\System32\drivers\etc</li>
                                            <li>If do not get any file through notepad please select all files in down menu. Now click on last line and hit enter for new line. Now press "Tab" key and write 127.0.0.1 and again press Tab key and write "localhost"
                                                and save them.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Google Chrome Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>open "chrome://flags" in crome browser and press "ctrl+F" and type "insecure". Now enable to Allow invalid certificates for resources loaded from localhost. Relaunch the chrome.</li>
                                            <li>Now Plug Device (If driver install successfully ,then popup will come at bottom-right corner and display Message "Framework is ready to use".)</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Mozilla Firefox Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>Open Firefox browser and write https://127.0.0.1:8005 in url and click on "I Understand the Risks.</li>
                                            <li>Click "Add Exception", it will open Add Security Exception popup and then click "Confirm Security Exception.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card2">
                            <div class="card-header" id="headingThree8">
                                <section class="mb-0 mt-0 tabber-cust">
                                    <div role="menu" class="" data-toggle="collapse" data-target="#iconAccordionfive" aria-expanded="false" aria-controls="iconAccordionfive" class="collapsed">
                                        <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg></div>
                                        Precision Installation Guide
                                        <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                    </div>
                                </section>
                            </div>
                            <div id="iconAccordionfive" class="collapse" aria-labelledby="headingThree8" data-parent="#iconsAccordion">
                                <div class="card-body">
                                    <div class="panel2">
                                        <ul class="a">
                                            <li>Uninstall all Installed rd drivers</li>
                                            <li>Unpluging the device first.</li>
                                            <li>Delete temp files. Press window button+R (OR OPEN RUN) and type %temp%</li>
                                            <li>Disable your antivirus.(Mandatory)</li>
                                            <li>If you are using window defender, please turn off realtime protection.</li>
                                            <li>Install secugen drivers serialwise from below mentioned links.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Download Links</h5>
                                            <p>Download RD Drivers</p>
                                            <div class="my-2">
                                                <a href="http://txnslip.in/aepsdriver/precision/Precisionrdservice.zip" class="btn btn-success sett-btn">Download Precision RD Driver</a>&nbsp;&nbsp;
                                                <a href="http://txnslip.in/aepsdriver/precision/Precisiondriver.zip" class="btn btn-success sett-btn">Download Precision Driver</a>&nbsp;&nbsp;
                                                <a href="http://txnslip.in/aepsdriver/precision/ManagementClient.zip" class="btn btn-success sett-btn">Download Precision Management Client</a>
                                            </div>
                                        </div>
                                        <ul class="a">
                                            <li>Collect all downloaded files in one folder and please exclude all files from antivirus. If you are using defender, then go to virus and threat protection setting and select exclusion.</li>
                                            <li>After installation of all the driver components, please add installation directory and file(rd service etc) to antivirus exclusion list.</li>
                                            <li>Now open notepad as admin and give location of Host file i.e C:\Program files\precision</li>
                                            <li>If do not get any file through notepad please select all files in down menu. Now click on last line and hit enter for new line. Now press "Tab" key and write 127.0.0.1 and again press Tab key and write "localhost"
                                                and save them.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Google Chrome Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>open "chrome://flags" in crome browser and press "ctrl+F" and type "insecure". Now enable to Allow invalid certificates for resources loaded from localhost. Relaunch the chrome.</li>
                                            <li>Now Plug Device (If driver install successfully ,then popup will come at bottom-right corner and display Message "Framework is ready to use".)</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Mozilla Firefox Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>Open Firefox browser and write https://127.0.0.1:8005 in url and click on "I Understand the Risks.</li>
                                            <li>Click "Add Exception", it will open Add Security Exception popup and then click "Confirm Security Exception.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card2">
                            <div class="card-header" id="headingThree8">
                                <section class="mb-0 mt-0 tabber-cust">
                                    <div role="menu" class="" data-toggle="collapse" data-target="#iconAccordionsix" aria-expanded="false" aria-controls="iconAccordionsix" class="collapsed">
                                        <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg></div>
                                        NEXT Installation Guide
                                        <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                    </div>
                                </section>
                            </div>
                            <div id="iconAccordionsix" class="collapse" aria-labelledby="headingThree8" data-parent="#iconsAccordion">
                                <div class="card-body">
                                    <div class="panel2">
                                        <ul class="a">
                                            <li>Uninstall all Installed rd drivers</li>
                                            <li>Unpluging the device first.</li>
                                            <li>Delete temp files. Press window button+R (OR OPEN RUN) and type %temp%</li>
                                            <li>Disable your antivirus.(Mandatory)</li>
                                            <li>If you are using window defender, please turn off realtime protection.</li>
                                            <li>Install NEXT drivers serialwise from below mentioned links.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Download Links</h5>
                                            <p>Download RD Drivers</p>
                                            <div class="my-2">
                                                <a href="http://txnslip.in/aepsdriver/next-rd-services/RDServiceL0_Windows_Setup.zip" class="btn btn-success">Download NEXT Window RD Driver</a>&nbsp;&nbsp;
                                                <a href="http://txnslip.in/aepsdriver/next-rd-services/NB_RD_Config.zip" class="btn btn-success">Download NEXT Client RD Driver</a>
                                            </div>
                                        </div>
                                        <ul class="a">
                                            <li>Collect all downloaded files in one folder and please exclude all files from antivirus. If you are using defender, then go to virus and threat protection setting and select exclusion.</li>
                                            <li>After installation of all the driver components, please add installation directory and file(rd service etc) to antivirus exclusion list.</li>
                                            <li>Now open notepad as admin and give location of Host file i.e C:\Program files\NEXT Biometrics</li>
                                            <li>If do not get any file through notepad please select all files in down menu. Now click on last line and hit enter for new line. Now press "Tab" key and write 127.0.0.1 and again press Tab key and write "localhost"
                                                and save them.</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Google Chrome Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>open "chrome://flags" in crome browser and press "ctrl+F" and type "insecure". Now enable to Allow invalid certificates for resources loaded from localhost. Relaunch the chrome.</li>
                                            <li>Now Plug Device (If driver install successfully ,then popup will come at bottom-right corner and display Message "Framework is ready to use".)</li>
                                        </ul>
                                        <div class="interdownload">
                                            <h5>Mozilla Firefox Settings</h5>
                                        </div>
                                        <ul class="a">
                                            <li>Open Firefox browser and write https://127.0.0.1:8005 in url and click on "I Understand the Risks.</li>
                                            <li>Click "Add Exception", it will open Add Security Exception popup and then click "Confirm Security Exception.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
</div>