<div class="layout-px-spacing">
    <div class="row layout-top-spacing ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget">
                <h5>Mobikwik Wallet </h5>
                <form [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
                    <table class="table table-bordered m-0">
                        <tr>
                            <th class="font-weight-bolder">MOBILE :</th>
                            <td>{{mobile}}</td>
                        </tr>
                        <tr>
                            <th class="font-weight-bolder">AMOUNT :</th>
                            <td>{{amount | currency:"INR"}}</td>
                        </tr>
                        <tr>
                            <th class="font-weight-bolder">ENTER EMAIL :</th>
                            <td><input class="form-control " type="text" formControlName="email"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button type="submit" class="btn btn-success mr-2">Load Wallet</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <ri-custom-mdl [id]="mdlId">
        <app-slip-print [riCustomMdlId]="mdlId" [recepitListObj]="invoiceObj" (closeCallBack)="slipClose()"></app-slip-print>
    </ri-custom-mdl>