<blockquote class="blockquote mt-4">
    <a routerLink="/account/distributor/list" class="btn btn-primary mt-2 btn-sm float-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg> Back</a>
    <h3 class="aeps-title">{{(isEdit?"Update":"Create")}} Distributor</h3>
    <form [formGroup]="form" class="mt-3" (submit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Name : <span class="alert-error">*</span></label>
                <input type="text" [ngClass]="{ 'is-invalid':  (f.name.touched || f.name.dirty) && f.name.invalid }" class="form-control" formControlName="name" AutocompleteOff placeholder="Enter Name">
                <div *ngIf="(f.name.touched || f.name.dirty) && f.name.invalid" class="alert-error">
                    <div *ngIf="f.name.errors.required"><small><b>Name is required.</b></small></div>
                    <div *ngIf="f.name.errors.pattern"><small><b>Only alphabets allowed.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Firm Name : <span class="alert-error">*</span></label>
                <input type="text" formControlName="firmname" [ngClass]="{ 'is-invalid':  (f.firmname.touched || f.firmname.dirty) && f.firmname.invalid }" name="firmname" AutocompleteOff class="form-control" placeholder="Enter your firm name">
                <div *ngIf="(f.firmname.touched || f.firmname.dirty) && f.firmname.invalid" class="alert-error">
                    <div *ngIf="f.firmname.errors.required"><small><b>Firm Name is required.</b></small></div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Email : <span class="alert-error">*</span></label>
                <input type="text" formControlName="email" [ngClass]="{ 'is-invalid': (f.email.touched || f.email.dirty) && f.email.invalid }" name="email" AutocompleteOff class="form-control" placeholder="Enter your email">
                <div *ngIf="(f.email.touched || f.email.dirty) && f.email.invalid" class="alert-error">
                    <div *ngIf="f.email.errors.required"><small><b>Email is required.</b></small></div>
                    <div *ngIf="f.email.errors.email"><small><b>Enter a valid email.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Phone no : <span class="alert-error">*</span></label>
                <input type="text" formControlName="phone" [ngClass]="{ 'is-invalid': (f.phone.touched || f.phone.dirty) && f.phone.invalid }" name="phone" maxlength="10" AutocompleteOff OnlyNumber class="form-control" placeholder="Enter your phone no">
                <div *ngIf="(f.phone.touched || f.phone.dirty) && f.phone.invalid" class="alert-error">
                    <div *ngIf="f.phone.errors.required"><small><b>Phone no is required.</b></small></div>
                    <div *ngIf="f.phone.errors.pattern"><small><b>Enter a valid phone no.</b></small></div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Address : <span class="alert-error">*</span></label>
                <input type="text" formControlName="address" [ngClass]="{ 'is-invalid': (f.address.touched || f.address.dirty) && f.address.invalid }" name="address" AutocompleteOff class="form-control" placeholder="Enter address">
                <div *ngIf="(f.address.touched || f.address.dirty) && f.address.invalid" class="alert-error">
                    <div *ngIf="f.address.errors.required"><small><b>Address is required.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">State : <span class="alert-error">*</span></label>
                <input type="text" formControlName="state" [ngClass]="{ 'is-invalid': (f.state.touched || f.state.dirty) && f.state.invalid }" name="state" AutocompleteOff class="form-control" placeholder="Enter state">
                <div *ngIf="(f.state.touched || f.state.dirty) && f.state.invalid" class="alert-error">
                    <div *ngIf="f.state.errors.required"><small><b>State is required.</b></small></div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">City : <span class="alert-error">*</span></label>
                <input type="text" formControlName="city" [ngClass]="{ 'is-invalid': (f.city.touched || f.city.dirty) && f.city.invalid }" name="city" AutocompleteOff class="form-control" placeholder="Enter city">
                <div *ngIf="(f.city.touched || f.city.dirty) && f.city.invalid" class="alert-error">
                    <div *ngIf="f.city.errors.required"><small><b>City is required.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Pincode : <span class="alert-error">*</span></label>
                <input type="text" formControlName="pincode" [ngClass]="{ 'is-invalid': (f.pincode.touched || f.pincode.dirty) && f.pincode.invalid }" name="pincode" maxlength="6" AutocompleteOff OnlyNumber class="form-control" placeholder="Enter pincode">
                <div *ngIf="(f.pincode.touched || f.pincode.dirty) && f.pincode.invalid" class="alert-error">
                    <div *ngIf="f.pincode.errors.required"><small><b>Pincode is required.</b></small></div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Pan Nnumber : <span class="alert-error">*</span></label>
                <input type="text" formControlName="pannumber" [ngClass]="{ 'is-invalid': (f.pannumber.touched || f.pannumber.dirty) && f.pannumber.invalid }" AutocompleteOff name="pannumber" class="form-control" placeholder="Enter pan number">
                <div *ngIf="(f.pannumber.touched || f.pannumber.dirty) && f.pannumber.invalid" class="alert-error">
                    <div *ngIf="f.pannumber.errors.required"><small><b>Pan number is required.</b></small></div>
                    <div *ngIf="f.pannumber.errors.pattern"><small><b>Please enter a valid pan number</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">GST Number :</label>
                <input type="text" formControlName="gstnumber" [ngClass]="{ 'is-invalid': (f.gstnumber.touched || f.gstnumber.dirty) && f.gstnumber.invalid }" name="gstnumber" AutocompleteOff class="form-control" placeholder="Enter gst number">

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6" *ngIf="usertype == '0' || usertype == '2'">
                <label for="inputEmail4">Partner : <span class="alert-error">*</span></label>
                <ng-select2 [ngClass]="{ 'is-invalid': f.partner_id.touched && f.partner_id.invalid }" formControlName="partner_id" [data]="partnerLisitng" [placeholder]="'Please select a partner...'">
                </ng-select2>
                <div *ngIf="f.partner_id.touched && f.partner_id.invalid" class="alert-error">
                    <div *ngIf="f.partner_id.errors.required"><small><b>Partner is required.</b></small></div>
                </div>
            </div>
            <div class="form-group col-md-6 pt-3 pl-3">
                <label for="inputAddress">Status : <span class="alert-error">*</span></label><br>
                <label class="new-control new-radio new-radio-text radio-success">
                    <input  formControlName="status"  type="radio" checked class="new-control-input" name="status" value="1">
                    <span class="new-control-indicator"></span><span class="new-radio-content">Activate</span>
                  </label>
                <label class="new-control new-radio new-radio-text radio-danger">
                    <input formControlName="status"  type="radio" class="new-control-input" name="status" value="0">
                    <span class="new-control-indicator"></span><span class="new-radio-content">Deactivate</span>
                  </label>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-12" *ngIf="isEdit">
                <label for="inputAddress">Remark : <span class="alert-error">*</span></label>
                <textarea formControlName="remarks" name="remarks" class="form-control" placeholder="Enter remarks"></textarea>
            </div>
        </div>


        <button type="submit" class="btn btn-primary mt-3" [disabled]="!form.valid">{{(isEdit?"Update":"Submit")}}</button>
    </form>

    <div class="form-group col-md-12" *ngIf="isEdit">
        <label for="inputAddress">All Remarks : </label>
        <textarea type="text" [(ngModel)]="showRemark" name="phone" autocomplete="off" class="form-control" placeholder="Enter your Remarks" readonly></textarea>
    </div>
</blockquote>