<div class="layout-px-spacing">
    <div class="row layout-top-spacing">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget">
                <h5>Staff</h5>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary mt-2 btn-sm float-right" routerLink="/account/staff/create">Add staff</a>
                    </div>
                </div>
                <app-data-table-tools [columns]="columns" [url]="url"></app-data-table-tools>
            </div>
        </div>
    </div>
</div>